<html>
<header class="jumbotron hero-spacer">
            <h1>A <i>Sweet</i> Welcome!</h1> 
            <center><%= image_tag("Logo.png", :size => "200x200") %></center><br><br>
            <center><p><h2><big>Plant your academic foundation <br>
            Keep track of your growth to earn sweet grades<br>
            Easy to use and fun at the same time!</p></big></h2>
            <p><%= link_to '<button class="btn btn-warning btn-lg">Get Started!</button>'.html_safe, signup_path %>
            </p></center>
</header>

<body>
    <div class="panel">
        <div class="panel-heading">About Us</div>
        <div class="panel-body">
            <h1><i>The Software Squad</i></h1>
             <center><%= image_tag("software.JPG", :size => "330x250") %><br><br>
            Jeremy Tabujara | <i>Software Engineer</i><br>
             Michael Cataldo | <i>Industrial Systems Engineer</i><br>
             Marta Malapitan | <i>Software Engineer</i><br>
             Luis Arevalo | <i>Software Engineer</i><br></center>
        </div>
    </div>
    
</div>
</body>
</html>